//font
$primary-font: "Oswald", sans-serif;
$secondary-font: "Lato", sans-serif;

//color
$title-color: rgba(0, 0, 0, 1);
$dark-color: rgba(68, 68, 68, 1);
$light-color: rgba(255, 255, 255, 1);
$card-color-title: rgba(34, 34, 34, 1);

//width
$desktop-width: 1440px;
$desktop-width-min: 1280px;
$tablet-width: 768px;
/* здесь используйте глобальные переменные */
