/* GLOBAL */
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/variables.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/navigation.scss";
@import "./blocks/section.scss";
@import "./blocks/promo.scss";
@import "./blocks/button.scss";
@import "./blocks/program.scss";
@import "./blocks/description.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/catalog.scss";
@import "./blocks/catalog-item.scss";
@import "./blocks/additional-list.scss";
@import "./blocks/stocks.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/social-list.scss";
@import "./blocks/main-footer.scss";
