.additional-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  row-gap: 6px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto;
    min-width: 708px;
    width: 100%;
    border: solid 1px rgba(205, 205, 205, 1);
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(65px, auto);
    gap: 0;
    border: none;
    padding: 0 0 0 81px;
  }
}

.additional-list__item {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  row-gap: 13px;
  position: relative;
  padding: 12px 0 13px;
  border-top: solid 2px rgba(205, 205, 205, 1);


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    padding: 26px 37px 22px 38px;
    border-top: solid 1px rgba(205, 205, 205, 1);
    row-gap: 0;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 276px;
    grid-template-rows: 1fr;
    column-gap: 10px;
    align-items: center;
    padding: 11px 0 13px;
  }
}

.additional-list__item-title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  vertical-align: middle;
  text-transform: uppercase;
  color: $card-color-title;
  grid-row: 1/2;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    margin: 0;
  }
}

.additional-list__item-wrapper {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-content: space-between;
    padding: 5px 10px 0 7px;
  }
}

.additional-list__item:nth-child(2) .additional-list__item-wrapper {
  @media (min-width: $desktop-width-min) {
    padding: 5px 20px 0 7px;
  }
}

.additional-list__item-volume {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  vertical-align: middle;
  color: $dark-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0 -1px 22px 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 -1px 0 0;
  }
}

.additional-list__item-price {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  vertical-align: middle;
  color: $dark-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0 4px 0 51px;
  }
}

.additional-list__item:nth-child(2) .additional-list__item-volume {
  @media (min-width: $tablet-width) {
    padding: 0 8px 1px 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0;
  }
}

.additional-list__item:nth-child(3) .additional-list__item-volume {
  @media (min-width: $tablet-width) {
    margin: 0 -2px 23px 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0;
    padding: 0;
  }
}

.additional-list__item:nth-child(4) .additional-list__item-volume {
  @media (min-width: $tablet-width) {
    margin: 0 -2px 23px 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0;
    padding: 0;
  }
}

.additional-list__item--last {
  border-bottom: solid 2px rgba(205, 205, 205, 1);
  padding: 12px 0 17px;

  @media (min-width: $tablet-width) {
    padding: 25px 38px 28px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0;
  }
}
