.button {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: $light-color;
  padding: 10px;
  background-color: rgba(104, 183, 56, 1);
  border: none;
}

.button--promo {
  margin: 138px 20px 0;
  display: block;

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    background-color: rgba(94, 170, 47, 1);
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 295px;
    left: 120px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 25px 14px 26px;
    margin: 0;
    width: 242px;
  }

  @media (min-width: $desktop-width-min) {
    position: relative;
    top: 292px;
    left: 190px;
    height: fit-content;
    padding: 14px 25px;
    display: block;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    margin: 0;
  }
}

.button--order {
  grid-column: 1/-1;
  grid-row: 2/3;
  width: 100%;
  border: solid 1px transparent;
  display: block;

  @media (min-width: $tablet-width) {
    padding: 10px 10px 8px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 10px;
  }

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--more {
  background-color: rgba(242, 242, 242, 1);
  display: block;
  color: rgba(68, 68, 68, 1);
  width: 280px;
  margin: 0 auto;
  padding: 10px 94px 10px 93px;

  &:hover,
  &:focus {
    background-color: rgba(235, 235, 235, 1);
  }

  @media (min-width: $tablet-width) {
    margin-top: 82px;
    min-width: 250px;
    width: 100%;
    padding: 11px 10px 10px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 11px 30px 10px;
    min-width: 0;
    margin-top: 87px;
  }
}

.button--additional {
  grid-row: 3/-1;
  margin: 1px 0 0;

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    background-color: rgba(94, 170, 47, 1);
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/-1;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 3/-1;
    grid-row: 1/2;
    display: grid;
    width: 244px;
    margin: 0 auto;
  }
}

.button--subscribe {
  font-size: 20px;
  line-height: 26px;
  grid-row: 2/3;

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    background-color: rgba(94, 170, 47, 1);
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: inline-block;
    min-width: 256px;
    padding: 15px 29px 13px 23px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 15px 69px;
  }
}
