.catalog-item {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  padding: 21px 20px;
  width: 100%;
  position: relative;
  border-bottom: solid 1px rgba(235, 235, 235, 1);
  border-top: solid 1px rgba(235, 235, 235, 1);

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top: none;
    align-items: center;
    gap: 0;
    background-color: rgba(242, 242, 242, 1);
    padding: 10px 37px 40px;
    background-image: linear-gradient(#ffffff 82px, #f2f2f2 82px 511px);
    min-width: 324px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 11px 38px 38px;

    display: flex;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 1);
    min-width: 245px;
  }
}

.catalog-item__title a {
  color: rgba(34, 34, 34, 1);
  cursor: pointer;
}

.catalog-item__text-wrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-rows: auto auto;
    width: 100%;
    margin: 22px 0 32px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 13px 0 31px;
  }
}

.catalog-item__img-wrapper {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-content: center;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.catalog-item__img-wrapper a {
  cursor: pointer;
}

.catalog-item__title {
  position: relative;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $card-color-title;
  margin: 0;
  grid-column: 1/-1;
  padding: 0 45px 0 0;
  height: min-content;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 10px 5px;
    margin-bottom: 18px;
  }
}

.catalog-item__description-list {
  justify-self: start;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $dark-color;
  grid-column: 1/-1;
  margin: 10px 0 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  width: 100%;
  height: min-content;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}


.catalog-item__description-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgba(205, 205, 205, 1);
  }
}

@media (min-width: $tablet-width) {
  .catalog-item__description-wrapper:nth-child(1) {
    padding: 0 0 2px;
  }

  .catalog-item__description-wrapper:nth-child(2) {
    padding: 4px 0 3px;
  }

  .catalog-item__description-wrapper:nth-child(3) {
    padding: 5px 0 2px;
  }
}

@media (min-width: $desktop-width-min) {
  .catalog-item__description-wrapper:nth-child(1) {
    padding-bottom: 5px;
  }

  .catalog-item__description-wrapper:nth-child(2) {
    padding: 7px 0 6px;
  }

  .catalog-item__description-wrapper:nth-child(3) {
    padding: 5px 0 9px;
  }
}

.catalog-item__term {
  position: relative;
  justify-self: start;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding: 2px 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0;
  }
}

.catalog-item__description {
  justify-self: end;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog-item--special {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  row-gap: 0;
  padding: 25px 20px 20px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    border: solid 1px rgba(242, 242, 242, 1);
    min-height: 429px;
    align-self: flex-end;
    padding: 25px 36px 20px;
  }
}

.catalog-item__title--special {
  color: rgba(17, 17, 17, 1);
  margin: 0;
  padding: 0 0 10px;


  @media (min-width: $tablet-width) {
    padding: 0 55px 23px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 10px 23px;
  }

  &::before {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto 23px;
    width: 30px;
    height: 30px;
    background-image: url("/icons/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;

    @media (min-width: $tablet-width) {
      background-size: 60px;
      width: 60px;
      height: 60px;
      margin: 0 0 71px;
      top: 22px;
      left: 29%;
    }

    @media (min-width: $desktop-width-min) {
      margin: 0 0 62px;
      top: 23px;
      left: 47px;
    }
  }
}

.catalog-item__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    padding: 0 35px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 2px 0;
  }
}
