.catalog {
  min-width: 320px;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 30px 49px;
  }
}

.catalog__title {
  margin: 20px 0 40px;
  padding: 6px 20px 0;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0%;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
    margin: 65px 0 85px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 23px 69px 84px 50px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px rgba(235, 235, 235, 1);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    gap: 60px;
    padding: 0 30px;
    justify-content: center;
    align-items: start;
    border-bottom: none;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0;
    padding: 0 110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    justify-content: center;
  }
}
