.description {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 63px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0 30px 100px;
    max-width: 1280px;
  }
}

.description__list {
  list-style-type: none;
  margin: 42px 0 0;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  padding: 0 0 45px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 245px 245px;
    gap: 135px 138px;

    counter-reset: section;
    list-style-type: none;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-wrap: wrap;
    gap: 85px 0;
    padding: 0;
    max-width: 1280px;
  }
}

.description__item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-rows: auto 1fr;
    grid-template-columns: 245px;
    gap: 31px 0;
    margin: 0;

    counter-increment: section;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-direction: column;
    max-width: 245px;
    padding: 0;
  }
}

.description__item::before {
  content: "";
  position: relative;
  top: -3px;
  left: 0;
  width: 60px;
  height: 60px;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: rgba(104, 183, 56, 1);

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    grid-column: 1/2;
    top: 0;
    left: 0;
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    content: counter (flag);
  }

  @media (min-width: $desktop-width-min) {
    grid-row: 1/2;
    grid-column: 1/2;
    top: 0;
    left: 0;
  }
}

.description__item--one {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0 80px 0 0;
    min-width: 230px;
  }
}

.description__item--two {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: -1px 80px 0 0;
  }
}

.description__item--tree {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: -1px 80px 0 0;
  }
}

.description__item--four {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    margin: -1px 0 0;
  }
}

.description__item::after {
  @media (min-width: $tablet-width) {
    z-index: -1;
    position: absolute;
    top: -37px;
    left: 115px;

    content: counter(section) "";
    font-size: 280px;
    line-height: 280px;
    color: rgba(242, 242, 242, 1);
    font-family: $primary-font;
  }

  @media (min-width: $desktop-width-min) {
    top: -40px;
    left: 115px;
  }
}

.description__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: $title-color;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    margin: 41px 0 72px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 26px 0 33px;
    margin: 41px 0 40px;
  }
}

.description__text {
  position: relative;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  grid-column: 2/-1;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    grid-row: 2/3;
    grid-column: 1/-1;
    padding: 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 0;
    grid-column: 1/-1;
  }
}

.description__item--one .description__text {
  &::after {
    content: "";
    width: 29px;
    height: 28px;
    position: absolute;
    top: 12px;
    left: -63px;
    background-image: url("/icons/sheet-1.1.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: -80px;
      left: 25px;
    }
  }
}

.description__item--two .description__text::after {
  content: "";
  width: 29px;
  height: 28px;
  position: absolute;
  top: 14px;
  left: -64px;
  background-image: url("/icons/powder-1.1.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: -80px;
    left: 25px;
  }
}

.description__item--tree .description__text::after {
  content: "";
  width: 29px;
  height: 28px;
  position: absolute;
  top: 12px;
  left: -64px;
  background-image: url("/icons/tableware-1.1.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: -82px;
    left: 26px;
  }
}

.description__item--four .description__text::after {
  content: "";
  width: 29px;
  height: 28px;
  position: absolute;
  top: 14px;
  left: -63px;
  background-image: url("/icons/clock-1.1.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: -82px;
    left: 26px;
  }
}
