.main-header {
  min-width: 320px;
  position: relative;
  z-index: 10;
}

.main-header--catalog {
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(217, 217, 217, 1);
    display: block;
    position: relative;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &::after {
      display: none;
    }
  }
}

.main-header__container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr minmax(436px, 710px);
    padding: 22px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 30px 50px;
    max-width: 1280px;
  }
}

.main-header__logo {
  min-width: 33px;
  margin: 1px 10px 0 0;
  cursor: pointer;
  display: block;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 50%;
  }

  @media (min-width: $tablet-width) {
    margin-right: 92px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 408px;
    width: 202px;
    padding: 0;
  }
}

.main-header__logo-text {
  margin: 0 auto;
  padding: 2px 0 0;
  justify-self: center;
  transform: translate(-9px);
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}
