
.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  background-color: $light-color;
  color: $dark-color;
  width: 100%;
  overflow-x: hidden;
}

.page__main {
  position: relative;
  width: 100%;
}

.page__container-catalog {
  width: 100%;

  @media (min-width: $desktop-width-min) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
