.program {
  list-style-type: none;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    column-gap: 80px;
    max-width: 1280px;
    padding: 0 30px;
  }
}

.program__item {
  position: relative;
  background-color: rgba(242, 242, 242, 1);
  padding: 20px 19px 10px;
  margin: 20px 0;
  display: grid;
  grid-template-rows: 53px 1fr auto;
  grid-template-columns: 60px 1fr;
  gap: 5px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 65px auto auto auto;
    grid-template-columns: 37px 1fr 300px;
    gap: 15px;
    margin: -2px 0 0;
    padding: 0;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 40px 50px 55px;
    margin: 0;
  }
}

.program__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  color: $title-color;
  line-height: 37px;
  text-transform: uppercase;
  text-align: left;
  align-self: center;
  grid-row: 1/2;
  grid-column: 2/-1;
  margin: 4px 0 0 5px;
  
  @media (min-width: $tablet-width) {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 2/-1;
    grid-row: 1/2;
    align-self: start;
    font-size: 36px;
    line-height: 36px;
    padding: 38px 2px 45px;
  }
}

.program__title--two {
  align-self: start;
  margin: 8px 0 0 6px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 38px 0 45px 2px;
  }
}

.program__text {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  text-align: left;
  grid-row: 2/3;
  grid-column: 1/-1;
  margin: 0;
  padding: 17px 0 23px;
  border-bottom: solid 1px rgba(217, 217, 217, 1);

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: center;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0 0;
    margin-right: 3%;
    border-bottom: none;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: start;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 2px 0;
    margin: 0;
  }
}

.program__text--two {
  padding: 16px 2px 23px;

  @media (min-width: $tablet-width) {
    align-self: start;
    padding: 6px 0 0;
    margin: 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 10px 10px 0 2px;
    margin: 0;
  }
}

.program__link {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: $title-color;
  grid-row: 3/-1;
  grid-column: 1/-1;
  margin: 15px 0 0 1px;
  display: block;

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    grid-row: 4/-1;
    grid-column: 2/3;
    font-size: 20px;
    line-height: 100%;
    margin-top: 0;
    padding: 43px 0 53px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-column: 1/-1;
    grid-row: 3/-1;
    align-self: center;
    font-size: 20px;
    line-height: 100%;
    padding: 19px 2px 0;
  }
}

.program__link::after {
  content: "";
  position: relative;
  display: block;
  top: -15px;
  left: 102px;
  width: 32px;
  height: 12px;
  background-image: url("/icons/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 133px;
    width: 32px;
    height: 10px;
  }
}

.program__link--two::after {
  top: -13px;
  left: 98px;

  @media (min-width: $tablet-width) {
    top: -15px;
    left: 129px;
  }
}

.program__item-slim {
  background-image: url("/icons/cat-sitting.svg");
  background-position: top 23px left 20px;
  background-repeat: no-repeat;
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    background-position: right 12% top 50%;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width-min) {
    background-position: 52px 42px;
    background-size: 100px 106px;
    margin: 0;
  }
}

.program__item-pro {
  background-image: url("/icons/cat-powerful.svg");
  background-position: top 23px left 13px;
  background-repeat: no-repeat;
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    background-position: right 6% top 53%;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width-min) {
    background-position: 35px 47px;
    background-size: 134px 100px;
    margin: 0;
  }
}
