.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px 525px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width-min) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 30px 265px;
    width: 100%;
    max-width: 1280px;

    &::before {
      content: "";
      background-image:
        linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("/images/promo-background-desktop@1x.png");
      background-position: 100%, 100%;
      background-repeat: no-repeat, no-repeat;
      background-size: cover, cover;
      width: 50vw;
      height: calc(90px + 100%);
      display: grid;
      position: absolute;
      top: -171px;
      left: 50%;
    }
  }
}

.promo__container {
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 65px 0 0 90px;
    position: relative;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 1/2;
    max-width: 620px;
    margin: 0;
    padding: 59px 0 0 80px;
  }
}

.promo__wrapper-img {
  position: absolute;
  bottom: 42px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: auto;
    left: 30px;
    bottom: -2px;
    transform: none;
  }

  @media (min-width: $desktop-width-min) {
    grid-column: 2/3;
    position: static;
  }
}

.promo__images {
  display: block;
  min-width: 280px;
  min-height: 270px;
  object-fit: contain;

  @media (min-width: $desktop-width-min) {
    position: absolute;
    top: -22px;
    left: -164px;
    grid-column: 2/4;
    grid-row: 1/-1;
  }
}

.promo__wrapper-text {
  position: relative;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/images/promo-background@1x.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    background: rgba(255, 255, 255, 1);
    padding: 0;
  }

  @media (min-width: $desktop-width-min) {
    background: rgba(255, 255, 255, 1);
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    padding: 0;
    margin: 0;
  }
}

.promo__title {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: $light-color;
  position: relative;
  z-index: 2;
  padding: 27px 20px 25px;
  margin: 0;
  letter-spacing: 0;

  @media (min-width: $tablet-width) {
    color: $title-color;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0;
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $light-color;
  position: relative;
  z-index: 2;
  margin: 0 0 0 -1px;
  padding: 0 20px 114px;

  @media (min-width: $tablet-width) {
    color: $title-color;
    margin: 43px 0 29px;
    padding: 0 0 20px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width-min) {
    color: $title-color;
    margin: 40px 0 32px;
    padding: 0 0 20px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }
}
