.social-list {
  position: relative;
  list-style-type: none;
  margin: 19px auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 20px 24px;
  justify-content: center;
  border-top: solid 1px rgba(217, 217, 217, 1);
  border-bottom: solid 1px rgba(217, 217, 217, 1);
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    margin: 0 0 0 34px;
    padding: 5px 0 0;
  }

  @media (min-width: $desktop-width-min) {
    padding: 5px 0 0;
    margin: 0;
  }
}

.social-list__item {
  align-content: center;
  justify-items: center;
}

.social-list__link {
  text-decoration: none;
  display: block;
  width: 28px;
  height: 22px;
  mask-size: 28px 22px;
  background-color: rgba(102, 102, 102, 1);
  position: relative;
  justify-self: center;
  
  &:hover,
  &:focus {
    background-color: rgba(104, 183, 56, 1);
  }

  &:active {
    opacity: 30%;
  }
}

.social-list__link--vk {
  mask-image: url("/icons/vk.svg");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
}

.social-list__link--youtube {
  mask-image: url("/icons/youtube.svg");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
}

.social-list__link--tg {
  mask-image: url("/icons/telegram.svg");
  mask-repeat: no-repeat;
  mask-size: 28px 22px;
}
