.subscribe {
  display: grid;
  grid-template-rows: repeat(3, auto);
  padding: 0 20px 24px;
  justify-content: center;
  min-width: 320px;

  @media (min-width: $tablet-width) {
    justify-content: stretch;
    padding: 40px 70px 75px;
    grid-template-rows: 1fr 1fr;
    width: 100%;
  }

  @media (min-width: $desktop-width-min) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 30px 104px;
  }
}

.subscribe__title {
  grid-row: 1/2;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  align-self: left;
  color: $title-color;
  position: relative;
  display: inline-block;
  padding: 40px 0 32px;
  margin: 0;
  width: fit-content;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 40px 0 0 0 rgba(255, 255, 255, 1), -40px 0 0 0 rgba(255, 255, 255, 1);

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width-min) {
    align-self: start;
    font-size: 40px;
    line-height: 40px;
    margin: 0 0 0 80px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 100%;
    width: 100vw;
    height: 2px;
    background-color: rgba(104, 183, 56, 1);
    z-index: -1;
    box-shadow: 100vw 0 0 0 rgba(104, 183, 56, 1);

    @media (min-width: $tablet-width) {
      top: 52px;
    }

    @media (min-width: $desktop-width-min) {
      top: 58px;
    }
  }
}

.subscribe__discription {
  grid-row: 2/3;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $title-color;
  padding: 0 15px;
  margin: 0 0 24px;
  display: grid;
  height: 50px;

  @media (min-width: $tablet-width) {
    display: grid;
    font-size: 24px;
    line-height: 32px;
    padding: 32px 0 0;
    margin: 0 0 0 -2px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 40px 0 56px;
    margin: 0;
  }
}

.subscribe__form {
  grid-row: 3/4;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width-min) {
    margin: 0;
  }
}

.subscribe__field {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: $dark-color;
  grid-row: 1/2;
  display: grid;
  align-items: center;
  min-width: 280px;
  padding: 10px 10px 12px;
  border: solid 1px rgba(231, 231, 231, 1);

  &:hover {
    border: solid 1px (rgba(205, 205, 205, 1));
  }

  &:focus {
    border: solid 2px rgba(68, 68, 68, 1);
  }


  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: flex;
    flex-grow: 2;
    min-width: 376px;
  }

  @media (min-width: $desktop-width-min) {
    min-width: 496px;
  }
}

.button--subscribe {
  font-size: 20px;
  line-height: 26px;
  grid-row: 2/3;

  &:hover {
    background-color: rgba(94, 170, 47, 1);
  }

  &:active {
    background-color: rgba(94, 170, 47, 1);
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    grid-row: 3/4;
    display: inline-block;
    min-width: 256px;
    padding: 15px 29px 13px 23px;
  }

  @media (min-width: $desktop-width-min) {
    padding: 15px 69px;
  }
}
